<a href="https://colab.research.google.com/github/Mufaddalsr/basic-motion-detector/blob/main/BDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 62.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=8e155c6a06bf58b5134694614a56bb802ba8c8f80f530156139f1ccbd2f9c435
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('bda').getOrCreate()

In [7]:
spark

In [11]:
df_pyspark=spark.read.csv('/content/surgery.csv')

In [20]:
df_pyspark=spark.read.option('header','true').csv('/content/surgery.csv',inferSchema=True)

In [21]:
df_pyspark.show()

+--------------------+---+------+----+-----+--------+---------+-------+----------+----------+-----------+-----+
|                Name|Age|   Sex|  Hb|  Hct|Systolic|Diastolic|    WBC|plateletes|Creatinine|T Proteins | SGOT|
+--------------------+---+------+----+-----+--------+---------+-------+----------+----------+-----------+-----+
|       Gaurav Chawla| 51|  Male|11.5|356.0|     128|       61|13200.0|     321.0|       0.5|       6.92| 33.0|
|      Manohar Bhoota| 42|  Male|10.2|321.0|     120|       66|19990.0|     310.0|       0.9|        6.8| 45.0|
|               Pinki| 40|Female|11.9| 69.5|     119|       72|   6.92|     274.0|       0.5|        6.8| 20.0|
|            Kesh Raj| 13|  Male|13.2| 39.1|     131|       84|    5.9|     219.0|      0.76|       6.92| 33.0|
|               Payal| 17|Female|14.0| 43.0|     119|       90| 5800.0|      1.81|      0.69|        7.5| 24.0|
|   Indrajeet Kashyap| 45|  Male|14.4|36.17|     130|       80|   4.24|      1.12|       0.5|       7.08| 79.0|
|             Gayatri| 64|Female|11.4| 69.5|     177|      112| 4570.0|      1.53|      0.74|        7.6| 44.0|
|              Sunita| 23|Female| 9.6| 31.3|     112|       78|   9.28|     314.0|      0.59|        7.1|162.3|
|Surat Chandra Upa...| 59|  Male|12.4| 39.8|     140|       90|   7.29|     265.0|      0.45|       6.92| 43.0|
|        Rama Bhutani| 62|Female| 9.0| 28.1|     131|       84|   6.52|      2.14|      0.47|       6.62| 20.0|
|              Sushma| 58|Female|11.4|36.17|     140|       80|   4.24|      1.12|       0.5|       7.08| 79.0|
|           Indu Devi| 54|Female|12.0| 43.4|     130|       70| 7200.0|      0.54|      0.54|       14.7| 40.0|
|               Manoj| 45|  Male|13.4| 69.5|     134|       83|    8.2|     164.0|       0.6|        7.9| 50.0|
|               Swati| 40|Female|13.0| 45.6|     115|       94|   6.64|     327.0|      0.66|       6.89| 31.0|
|         Chirag Suri| 39|  Male|12.2| 69.5|     131|       84| 3274.0|     786.0|      0.76|       6.92| 33.0|
|              Sujata| 57|Female|11.9| 69.5|     135|       86|   9.12|     257.0|       0.7|        7.3| 19.0|
|           Indu Devi| 35|Female|13.1| 69.5|     130|       80| 6760.0|      2.43|      0.65|        7.3| 28.0|
|          Priya Devi| 42|Female|12.7| 17.9|     117|       88|    8.4|      1.01|       0.6|        7.4| 40.0|
|             Shabana| 36|Female|10.9| 34.9|     138|       84|   4.14|       0.7|       0.6|       7.41| 17.0|
|              Sanjay| 40|  Male|14.0| 47.0|     129|       87|    2.7|      2.06|      0.72|        7.4| 66.0|
+--------------------+---+------+----+-----+--------+---------+-------+----------+----------+-----------+-----+
only showing top 20 rows

In [22]:
df_pyspark.head(5)

[Row(Name='Gaurav Chawla', Age=51, Sex='Male', Hb=11.5, Hct=356.0, Systolic=128, Diastolic=61, WBC=13200.0, plateletes=321.0, Creatinine=0.5, T Proteins =6.92, SGOT=33.0),
 Row(Name='Manohar Bhoota', Age=42, Sex='Male', Hb=10.2, Hct=321.0, Systolic=120, Diastolic=66, WBC=19990.0, plateletes=310.0, Creatinine=0.9, T Proteins =6.8, SGOT=45.0),
 Row(Name='Pinki', Age=40, Sex='Female', Hb=11.9, Hct=69.5, Systolic=119, Diastolic=72, WBC=6.92, plateletes=274.0, Creatinine=0.5, T Proteins =6.8, SGOT=20.0),
 Row(Name='Kesh Raj', Age=13, Sex='Male', Hb=13.2, Hct=39.1, Systolic=131, Diastolic=84, WBC=5.9, plateletes=219.0, Creatinine=0.76, T Proteins =6.92, SGOT=33.0),
 Row(Name='Payal', Age=17, Sex='Female', Hb=14.0, Hct=43.0, Systolic=119, Diastolic=90, WBC=5800.0, plateletes=1.81, Creatinine=0.69, T Proteins =7.5, SGOT=24.0)]

In [23]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Hb: double (nullable = true)
 |-- Hct: double (nullable = true)
 |-- Systolic: integer (nullable = true)
 |-- Diastolic: integer (nullable = true)
 |-- WBC: double (nullable = true)
 |-- plateletes: double (nullable = true)
 |-- Creatinine: double (nullable = true)
 |-- T Proteins : double (nullable = true)
 |-- SGOT: double (nullable = true)

In [24]:
df_pyspark.na.drop().show()

+--------------------+---+------+----+-----+--------+---------+-------+----------+----------+-----------+-----+
|                Name|Age|   Sex|  Hb|  Hct|Systolic|Diastolic|    WBC|plateletes|Creatinine|T Proteins | SGOT|
+--------------------+---+------+----+-----+--------+---------+-------+----------+----------+-----------+-----+
|       Gaurav Chawla| 51|  Male|11.5|356.0|     128|       61|13200.0|     321.0|       0.5|       6.92| 33.0|
|      Manohar Bhoota| 42|  Male|10.2|321.0|     120|       66|19990.0|     310.0|       0.9|        6.8| 45.0|
|               Pinki| 40|Female|11.9| 69.5|     119|       72|   6.92|     274.0|       0.5|        6.8| 20.0|
|            Kesh Raj| 13|  Male|13.2| 39.1|     131|       84|    5.9|     219.0|      0.76|       6.92| 33.0|
|               Payal| 17|Female|14.0| 43.0|     119|       90| 5800.0|      1.81|      0.69|        7.5| 24.0|
|   Indrajeet Kashyap| 45|  Male|14.4|36.17|     130|       80|   4.24|      1.12|       0.5|       7.08| 79.0|
|             Gayatri| 64|Female|11.4| 69.5|     177|      112| 4570.0|      1.53|      0.74|        7.6| 44.0|
|              Sunita| 23|Female| 9.6| 31.3|     112|       78|   9.28|     314.0|      0.59|        7.1|162.3|
|Surat Chandra Upa...| 59|  Male|12.4| 39.8|     140|       90|   7.29|     265.0|      0.45|       6.92| 43.0|
|        Rama Bhutani| 62|Female| 9.0| 28.1|     131|       84|   6.52|      2.14|      0.47|       6.62| 20.0|
|              Sushma| 58|Female|11.4|36.17|     140|       80|   4.24|      1.12|       0.5|       7.08| 79.0|
|           Indu Devi| 54|Female|12.0| 43.4|     130|       70| 7200.0|      0.54|      0.54|       14.7| 40.0|
|               Manoj| 45|  Male|13.4| 69.5|     134|       83|    8.2|     164.0|       0.6|        7.9| 50.0|
|               Swati| 40|Female|13.0| 45.6|     115|       94|   6.64|     327.0|      0.66|       6.89| 31.0|
|         Chirag Suri| 39|  Male|12.2| 69.5|     131|       84| 3274.0|     786.0|      0.76|       6.92| 33.0|
|              Sujata| 57|Female|11.9| 69.5|     135|       86|   9.12|     257.0|       0.7|        7.3| 19.0|
|           Indu Devi| 35|Female|13.1| 69.5|     130|       80| 6760.0|      2.43|      0.65|        7.3| 28.0|
|          Priya Devi| 42|Female|12.7| 17.9|     117|       88|    8.4|      1.01|       0.6|        7.4| 40.0|
|             Shabana| 36|Female|10.9| 34.9|     138|       84|   4.14|       0.7|       0.6|       7.41| 17.0|
|              Sanjay| 40|  Male|14.0| 47.0|     129|       87|    2.7|      2.06|      0.72|        7.4| 66.0|
+--------------------+---+------+----+-----+--------+---------+-------+----------+----------+-----------+-----+
only showing top 20 rows